
# Ignore the .env file
.env
 
# Ignore the archive folder
archive/
 
# Ignore the virtual environment folder and any config files
venv/
.venv/
my_env/
config.py

# Byte-compiled / optimized / DLL files / log files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc 
 
# Flask and Gunicorn logs
*.log
*.out
*.err

# macOS and Linux system files
.DS_Store
Thumbs.db



# Ignore figures
figures/

# Ignore chroma db
chroma_db/

# Ignore input folders
input_files/
uploads/

# Ignore backup-repo
backup-repo/

# Pytest cache and coverage reports
.pytest_cache/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
htmlcov/

# Docker files and folders (if using Docker)
docker-compose.override.yml
.dockerignore

# IDEs and editors (optional, add specific files based on your setup)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Python egg files
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

